.Modal{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) ;
    background: #fff;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
}
.Overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1000;

}
.btnclose{
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top:20px;
    right:30px;
}
.btnclose:hover{
    transform: scale(1.4);
}
.detailmodal{
    /* background: blue; */
    color:black;
    width: 800px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 400;
    
}
.titlemodal{
     margin-bottom: 10px;
     width: 100%;
     max-width: 600px
}
.datetitle{
    color:gray;
}
.categorybox{
    margin-top: 40px;
    display: flex;
}
.category{
    margin-right: 12px;
    padding: 5px 10px;
    border-radius: 7px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background: #fff;
}
.description{
    border-top: 1px solid rgb(228, 228, 228);
    padding:20px 0px;
    margin-top: 20px;
}


.thumbnail{
    position: absolute;
    top:50px;
    right:120px;
    width: 150px;
    height: 150px;
    object-fit: cover;

}