

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.modalopen {
  overflow-y: hidden;
}
.star{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  .star1{
    position: absolute;
    top: 100px; 
    right: 150px;
     @media (max-width: 600px) {
    top: 50px;
    right: 50px;
  }
  }
  .star2{
    position: absolute;
    top: 300px;
    left: 200px;
    
  }
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.sectioncontent{
   position: relative;
    margin: 0 auto;
    max-width: var(--max-width);
}
/* .section{
   position: relative;
    margin: 0 auto;
    max-width: 968px;

} */

.aa{
  background: #fff;
  width: 200px;
  height: 100px;
}

